body {
    font-family: 'Open Sans', sans-serif;
}

/* Create a full solid border on foundation prefix and postfix spans */
span.fix {
    border-left-style: solid;
    border-left-width: 1px;
    border-right-style: solid;
    border-right-width: 1px;
}

/* Stop page zooming on mobile */
input[type=number] {
    font-size: 1em;
}

/* Hide radio buttons and use text button instead */
input[type=radio] {
    display: none;
    visibility: hidden;
}

/* Expand range to max */
input[type=range] {
    width: 100%;
}

/* Hide spinners */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}
